@font-face {
  font-family: 'Custom';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("/assets/fonts/icons.ttf?5") format("truetype");
}

.fa {
  font-family: var(--fa-style-family, "Custom");
  font-weight: var(--fa-style, 900);
}
    
.fa, .fa-classic, .fa-sharp, .fas, .fa-solid, .far, .fa-regular, .fab, .fa-brands {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fas, .fa-classic, .fa-solid, .far, .fa-regular { font-family: 'Custom'; }

.fa-a::before { content: "a"; }
.fa-v::before { content: "v"; }
.fa-t::before { content: "t"; }
.fa-m::before { content: "m"; }
.fa-E::before { content: "E"; }

.fa-fast-forward::before { content: "i"; }
.fa-volume-up::before { content: "]"; }
.fa-volume::before { content: "["; }
.fa-volume-down::before { content: "p"; }
.fa-volume-off::before { content: "o"; }